.video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
}
   .video-background video{
    position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
  
  h1{

     
      font-size:5vw;
      
      color: white;
      /* font-size: 2em; */
      background: transparent;
      margin-bottom:30px;
      position: -webkit-sticky; 
      position: sticky;
      top: 0;
     text-align: center;
     backdrop-filter: blur(10px);
  }
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background:  #07182E;
    z-index: 1;
    box-shadow: 3px 3px 5px white;
    border-radius: 3px 3px 5px white;
}

  .content{
      z-index: 1;
      background-color:inherit;
      color: white;
      padding: 20px;
      /* text-align: center; */
      margin: 10px 0;
  }
  @media (min-width: 600px) {
    .container {
        font-size: 1.5em;
    }
}

@media (min-width: 900px) {
    .container {
        width: 80%;
    }
    .content{
        font-size: 1.5em;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}
  
button{
	border:2px solid white;
  width:30%;
  height:10%;
  border-radius: 8px;
}
.btn::before,
.btn::after{
	position:absolute;
	z-index: -1;
}
.btn:hover{
	background:white;
	box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  color:darkgreen;
  transform: scale(1.5);
  cursor:pointer;
} 
  
figcaption{
  color:white;
  display: block;
  text-align: center;
  font-size: 1.5em;
}
img{
  display: block;
  margin:auto;
}