body{
  position: relative;
  margin: 0;
  padding: 0;
}
.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: auto; 
  background-image: url("images/html-css-collage-concept-with-hacker.jpg");
  background-size:contain;
  opacity:0.75;
  z-index: -1 ;
  
 
}
/* .content{
  position: relative;
  z-index: 1;
  padding: 20px;
} */
h1{
  font-size: 2em;
  background: transparent;
    text-align: center;
    text-shadow: 2px 2px 8px #FF0000;
    letter-spacing: 2px;    
    /* animation:blinker 3s linear infinite; */
    z-index: 1;
    color:white;
   
}
#hack{
     animation:blinker 1s linear infinite;
     background: linear-gradient(to right, rgb(227, 117, 117),#540808);
}
@keyframes blinker{
   50%{
    opacity: 0;
   }
    
}
.container{
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    width:80%;
   
    justify-content: space-around;
   
    margin: auto;
    background: transparent;
    display:flex;
    flex-wrap: wrap;
   
    align-items: center;
border:2px solid white;
}


.card {
  width: 25%;
  height: 300px;
  background: #07182E;
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  justify-content: space-around;
  padding:3px;
  align-items: center;
  text-align: center;  
  margin: 10px;
  max-width: 300px;
  /* min-height: 300px; */
}

.card h3 {
  z-index: 1;
  color: white;
  padding:5px;
  margin: 2px;
  
}
.btn{
  z-index: 1;

}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(218, 45, 45), rgb(46, 200, 164)); 
  height: 130%;
  animation: rotBGimg 10s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  
  inset: 5px;
  border-radius: 15px;
}  
button{
	border:2px solid white;
  width:30%;
  height:10%;
  border-radius: 8px;
}
.btn::before,
.btn::after{
	position:absolute;
	z-index: -1;
}
.btn:hover{
	background:white;
	box-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 200px white;
  color:darkgreen;
  transform: scale(1.5);
  cursor:pointer;
}
a{
  text-decoration: none;
}
@media (max-width: 767px) {
  .card {
      flex: 1 1 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card {
      flex: 1 1 calc(50% - 40px);
  }
}

@media (min-width: 1024px) {
  .card {
      flex: 1 1 calc(33.333% - 40px);
  }
}
.video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto; 
  z-index: -100;
  background-size: cover;
}
   .video-background video{
    position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  }
  